{{page-title "View"}}
<div class="view">
    <form action="viewLog"  method="post" class="centered-form"> 
        <input type="submit" value="SHOW LOGS">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <LinkTo @route="index"><button type="button">HOME</button></LinkTo>
    </form>
</div>


